<header class="main">
	<div class="pad">
		<div class="content">
			<h1 class="heading">
				<a href="./#/home">
					<img src="./assets/images/back.png" />
				</a>
				<span>Create Workout</span>
			</h1>
		</div>
	</div>
</header>

<div class="pad">
	<div class="content">
		<form class="addWorkoutForm" ng-submit="submit()">
			<div class="field">
				<label>Workout Name</label>
				<input ng-required="true" name="name" ng-model="name" type="text" />
			</div>
			<div class="field">
				<label>Exercises</label>
				<ul class="exercises">
					<li class="exercise" ng-repeat="exercise in exercises">
						<img class="deleteExercise" ng-click="delExercise($index)" src="./assets/images/close.png" />
						<div class="field">
							<label>Exercise Name</label>
							<input ng-required="true" ng-model="exercise.name" type="text" />
						</div>

						<div class="field">
							<label>Exercise Type</label>
							<select ng-required="true" ng-model="exercise.type" ngChange="typeChange()">
								<option value="time">Time</option>
								<option value="reps">Reps</option>
							</select>
						</div>

						<div class="field">
							<div class="small">
								<label>
									<span ng-if="exercise.type == 'time'">
									    Seconds
									</span>
									<span ng-if="exercise.type == 'reps'">
										Reps
									</span>
								</label>
								<input ng-required="true" ng-model="exercise.amount" type="number" />
							</div>

							<div class="small right">
								<label>Pounds</label>
								<input ng-model="exercise.weight" type="number" />
							</div>
						</div>

						
						
				    </li>
				<button type="button" class="addExerciseButton" ng-click="addExercise()">Add Exercise</button>
			</div>
			<button type="submit">Create Workout</button>
		</form>
	</div>
</div>